* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f2f2f2;
}

.main {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 5%;
    padding: 50px 50px 50px 50px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
}
label {
    font-size: 18px;
    margin-bottom: 40px;
}

.req {
    color: red;
}

input {
    display: block;
    width: 100%;
    padding: 20px 0 20px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
}

input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #
}

button {
    display: block;
    background-color: #3c8dbc;
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #3c8dbc;
    transition: .1s;
}
.posts{
    padding: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1a2226;
    border-radius: 10px;
}
#posts {
    display: flex;
    flex-direction: column-reverse;
  }
#userPosts {
    display: flex;
    flex-direction: column-reverse;
}
.head{
    background-image: url('./head.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #1a2226;
    text-align: center;
    padding: 30px 0;
    color: #f2f2f2;
}
.main-content{
    width: 100%;
    margin-left: 300px;   
}   
.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 4.5em;
}

form input[type="file"] {
          display: none;
          cursor: pointer;
 }
.ul{
    margin-top: 30px;
}
 .ul li{
    font-size: 20px;    
    cursor: pointer;
    padding-bottom: 5px;
    font-weight: bold;
 }
 .postInout{
     color: #fff
     ;
 }
.postInout::placeholder{
    color: #fff !important  ;
}
textarea:focus, 
textarea.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
